:root{
    --vermelho: #FF0000;
    --preta: #1C1C1C;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elementos base */

body{
    background: var(--preta);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 46px;
}

header nav a{
    text-decoration: none;
    color:#CDCDC1;
    margin-right: 10px;
}

header nav a:hover{
    color:#FFFFFF;
}

/* filme principal */

.filme-principal{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background:  url(/img/capa-principal.jpg);
    
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
   
}

.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}



.botao{
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;

}

.botao i{
    margin-right: 5px;
}

.container{
    margin-left: 15px;
    margin-right: 10px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
   
}

.sessao{
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 5px;
}

/* filme principal */

.coluna{
    float: left;
    width: 33.33%;
}
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Aba séries */

 
 .carousel-filmes .item {
     margin: 0 5px;
     justify-content: center;
    
    cursor: pointer;
 }

 



 .carousel-filmes .item .tooltip {
    
    background: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
   
    top: -2px;
    opacity: 0;
    pointer-events: none;
    

 }

 .carousel-filmes .item .tooltip p{
     font-family: Arial, Helvetica, sans-serif;
     font-size: medium;
     font-size: 14px;
     text-align: justify;
     color: black;
 }

 .carousel-filmes .item:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
 }


  